# Content Based Recommender system

In [1]:
# In this recommender system the content of the movie 
# (overview, cast, crew, keyword, tagline etc) is used to find its similarity with other movies. 
# Then the movies that are most likely to be similar are recommended.

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
animes = pd.read_csv('clean_data/animes.csv')

In [4]:
animes.head()

,uid,title,synopsis,genre,aired,episodes,members,popularity,ranked,score,img_url,link
0,28891,Haikyuu!! Second Season,Following their participation at the Inter-Hig...,"['Comedy', 'Sports', 'Drama', 'School', 'Shoun...","Oct 4, 2015 to Mar 27, 2016",25.0,489888,141,25.0,8.82,https://cdn.myanimelist.net/images/anime/9/766...,https://myanimelist.net/anime/28891/Haikyuu_Se...
1,23273,Shigatsu wa Kimi no Uso,Music accompanies the path of the human metron...,"['Drama', 'Music', 'Romance', 'School', 'Shoun...","Oct 10, 2014 to Mar 20, 2015",22.0,995473,28,24.0,8.83,https://cdn.myanimelist.net/images/anime/3/671...,https://myanimelist.net/anime/23273/Shigatsu_w...
2,34599,Made in Abyss,The Abyss—a gaping chasm stretching down into ...,"['Sci-Fi', 'Adventure', 'Mystery', 'Drama', 'F...","Jul 7, 2017 to Sep 29, 2017",13.0,581663,98,23.0,8.83,https://cdn.myanimelist.net/images/anime/6/867...,https://myanimelist.net/anime/34599/Made_in_Abyss
3,5114,Fullmetal Alchemist: Brotherhood,"""In order for something to be obtained, someth...","['Action', 'Military', 'Adventure', 'Comedy', ...","Apr 5, 2009 to Jul 4, 2010",64.0,1615084,4,1.0,9.23,https://cdn.myanimelist.net/images/anime/1223/...,https://myanimelist.net/anime/5114/Fullmetal_A...
4,31758,Kizumonogatari III: Reiketsu-hen,After helping revive the legendary vampire Kis...,"['Action', 'Mystery', 'Supernatural', 'Vampire']","Jan 6, 2017",1.0,214621,502,22.0,8.83,https://cdn.myanimelist.net/images/anime/3/815...,https://myanimelist.net/anime/31758/Kizumonoga...

In [5]:
# drop duplicate titles
animes = animes.drop_duplicates(subset=['title'])

### Plot description based Recommender

In [6]:
# We will compute pairwise similarity scores for all animes based on their plot descriptions and 
# recommend animes based on that similarity score. 
# The plot description is given in the overview feature of our dataset. Let's take a look at the data. ..

In [7]:
animes.synopsis.head()

0    Following their participation at the Inter-Hig...
1    Music accompanies the path of the human metron...
2    The Abyss—a gaping chasm stretching down into ...
3    "In order for something to be obtained, someth...
4    After helping revive the legendary vampire Kis...
Name: synopsis, dtype: object

In [8]:
# we need to convert the word vector for each description therefore we will TF-IDF VEctorizer

In [9]:
#Import TfIdfVectorizer from scikit-learn
from sklearn.feature_extraction.text import TfidfVectorizer

#Define a TF-IDF Vectorizer Object. Remove all english stop words such as 'the', 'a'
tfidf = TfidfVectorizer(stop_words='english')

#Replace NaN with an empty string
animes['synopsis'] = animes['synopsis'].fillna('')

#Construct the required TF-IDF matrix by fitting and transforming the data
tfidf_matrix = tfidf.fit_transform(animes['synopsis'])

#Output the shape of tfidf_matrix
tfidf_matrix.shape

(16214, 43912)

In [10]:
# Since we have used the TF-IDF vectorizer, 
# calculating the dot product will directly give us the cosine similarity score. 
# Therefore, we will use sklearn's linear_kernel() instead of cosine_similarities() since it is faster.

In [11]:
# Import linear_kernel
from sklearn.metrics.pairwise import linear_kernel

# Compute the cosine similarity matrix
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

In [12]:
# We are going to define a function that takes in animes title as an input and outputs 
# a list of the 10 most similar animes. Firstly, for this, 
# we need a reverse mapping of anime titles and DataFrame indices. In other words, 
# we need a mechanism to identify the index of an anime in our metadata DataFrame, given its title

In [13]:
#Construct a reverse map of indices and movie titles
indices = pd.Series(animes.index, index=animes['title']).drop_duplicates()

In [14]:
# Function that takes in anime title as input and outputs most similar animes
def get_recommendations(name, cosine_sim=cosine_sim):
    # Get the index of the anime that matches the title
    idx = indices[name]

    # Get the pairwsie similarity scores of all animes with that movie
    sim_scores = list(enumerate(cosine_sim[idx]))

    # Sort the animes based on the similarity scores
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

    # Get the scores of the 10 most similar animes
    sim_scores = sim_scores[1:11]

    # Get the anime indices
    anime_indices = [i[0] for i in sim_scores]

    # Return the top 10 most similar animes
    return animes['title'].iloc[anime_indices]

In [15]:
get_recommendations('Made in Abyss')

905                   Pandora Hearts
383                    Tsumiki no Ie
3347            Mahoutsukai Precure!
13846                 Whistle! (ONA)
229         Jigoku Shoujo Futakomori
12985            Gundam Build Divers
6600     Gundam Build Divers Re:Rise
6247                       Plunderer
7770        Yasashii Fue, Tori, Ishi
9504                        Kokuhaku
Name: title, dtype: object

# Metricas

In [16]:
df_train = pd.read_csv(
    "train", sep=",", names=["userid", "itemid", "rating"], header=None
)

df_train.rating = [1 if x >= 5 else 0 for x in df_train.rating]

df_train.head()

   userid   itemid  rating
0    2052  12445.0       1
1    5141  34599.0       1
2    3340  37510.0       1
3     588    853.0       1
4    4822  27775.0       1

In [17]:
df_test = pd.read_csv(
    "test", sep=",", names=["userid", "itemid", "rating"], header=None
)

df_test.head()

   userid   itemid  rating
0   18887  37450.0      10
1    8831  32379.0       2
2   37283  36882.0       9
3   35602  10490.0       9
4   39042      NaN       6

In [18]:
item_interaction_counts = df_train['itemid'].value_counts()
user_count = df_train['userid'].nunique()
item_popularity = (item_interaction_counts / user_count).to_dict()
metadata = animes[['uid', 'genre']]
item_categories: dict[int, set[str | None]] = {}
for row in metadata.itertuples():
    item_categories[int(row[1]) if row[1].is_integer() else row[1]] = set(map(lambda i: i.strip(), row[2].split(','))) if isinstance(row[2], str) else set()

In [19]:
user_items = {}
itemset = set()

for row in df_train.itertuples():
    if row[1] not in user_items:
        user_items[row[1]] = []

    user_items[row[1]].append(row[2])
    itemset.add(row[2])

itemset = np.sort(list(itemset))

In [20]:
user2row = {user_id: matrix_row for matrix_row, user_id in enumerate(user_items.keys())}
row2user = {matrix_row: user_id for user_id, matrix_row in user2row.items()}

uid_to_idx = pd.Series(range(len(animes)), index=animes['uid'])

In [21]:
print(uid_to_idx)

uid
28891        0
23273        1
34599        2
5114         3
31758        4
         ...
10075    16209
35828    16210
10378    16211
33082    16212
16934    16213
Length: 16214, dtype: int64

In [22]:
def recommend(user_id, n=10):
    """Recommend top-n anime titles for a user based on content similarity."""
    seen_items = user_items.get(user_id, [])
    
    N = cosine_sim.shape[0]
    scores = np.zeros(N, dtype=float)

    for item in seen_items:
        try:
            idx = uid_to_idx.get(item)
        except KeyError:
            continue

        row = cosine_sim[idx]
        try:
            import scipy.sparse as _sps
            if _sps.issparse(row):
                row = row.toarray()
        except Exception:
            pass

        row = np.asarray(row)
        if row.ndim == 2:
            row = row.sum(axis=0)
        row = row.ravel()
        if row.shape[0] == N:
            scores += row
        else:
            continue

    # Exclude items the user has already seen
    seen_idxs = []
    for item in seen_items:
        if item in uid_to_idx.index:
            idx = uid_to_idx.get(item)
            seen_idxs.append(idx)
    if seen_idxs:
        scores[seen_idxs] = -np.inf

    top_idxs = np.argsort(scores)[::-1][:n]

    return animes["uid"].iloc[top_idxs].values

In [23]:
user_items_test = {}

for row in df_test.itertuples():
    if row[1] not in user_items_test:
        user_items_test[row[1]] = []

    user_items_test[row[1]].append(row[2])

In [24]:
from evaluate import get_metrics

get_metrics(user_items_test, item_popularity, item_categories, recommend, k=10, delta=0.05)

--- Métricas Globales de Evaluación ---
{
  "mean_recall": 0.02041829138603332,
  "mean_precision": 0.002190712513293159,
  "mean_ap (MAP)": 0.009230741097100544,
  "mean_ndcg": 0.011919163060023835,
  "mean_novelty": 7.90006469565837,
  "mean_diversity": 0.8683895348274548,
  "num_users_evaluated": 14105
}

--- Reporte de Fairness (Disparidad de Grupo) ---
{
  "delta_threshold": 0.05,
  "is_biased_recall": 0,
  "is_biased_precision": 0,
  "group_averages": {
    "NaN": {
      "recall (Cobertura)": 0.018231349538977367,
      "precision (Tasa Aceptaci\u00f3n)": 0.0019488683989941325,
      "count": 4772
    },
    "Female": {
      "recall (Cobertura)": 0.015447154471544716,
      "precision (Tasa Aceptaci\u00f3n)": 0.0015447154471544718,
      "count": 2460
    },
    "Male": {
      "recall (Cobertura)": 0.023978685612788632,
      "precision (Tasa Aceptaci\u00f3n)": 0.002619893428063943,
      "count": 6756
    },
    "Non-Binary": {
      "recall (Cobertura)": 0.008547008547008548,
      "precision (Tasa Aceptaci\u00f3n)": 0.0008547008547008547,
      "count": 117
    }
  },
  "disparity_reports": [
    {
      "pair": [
        NaN,
        "Female"
      ],
      "recall_disparity": 0.002784195067432651,
      "precision_disparity": 0.00040415295183966076,
      "biased_recall (Cobertura)": 0,
      "biased_precision (Tasa Aceptaci\u00f3n)": 0
    },
    {
      "pair": [
        NaN,
        "Male"
      ],
      "recall_disparity": 0.005747336073811265,
      "precision_disparity": 0.0006710250290698106,
      "biased_recall (Cobertura)": 0,
      "biased_precision (Tasa Aceptaci\u00f3n)": 0
    },
    {
      "pair": [
        NaN,
        "Non-Binary"
      ],
      "recall_disparity": 0.00968434099196882,
      "precision_disparity": 0.0010941675442932778,
      "biased_recall (Cobertura)": 0,
      "biased_precision (Tasa Aceptaci\u00f3n)": 0
    },
    {
      "pair": [
        "Female",
        "Male"
      ],
      "recall_disparity": 0.008531531141243916,
      "precision_disparity": 0.0010751779809094713,
      "biased_recall (Cobertura)": 0,
      "biased_precision (Tasa Aceptaci\u00f3n)": 0
    },
    {
      "pair": [
        "Female",
        "Non-Binary"
      ],
      "recall_disparity": 0.006900145924536168,
      "precision_disparity": 0.0006900145924536171,
      "biased_recall (Cobertura)": 0,
      "biased_precision (Tasa Aceptaci\u00f3n)": 0
    },
    {
      "pair": [
        "Male",
        "Non-Binary"
      ],
      "recall_disparity": 0.015431677065780084,
      "precision_disparity": 0.0017651925733630884,
      "biased_recall (Cobertura)": 0,
      "biased_precision (Tasa Aceptaci\u00f3n)": 0
    }
  ]
}

Recall Global: 0.0204
MAP Global: 0.0092
¿Es sesgado (Recall)?: 0
¿Es sesgado (Precision)?: 0